html {
  padding: 0;
  margin: 0;
  font-family:
    'Inclusive Sans',
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

:root {
  --el-color-primary: #b8231f !important;
  --el-color-primary-light-1: #c73a36 !important;
  --el-color-primary-light-3: #dd6764 !important;
  --el-color-primary-light-5: #e99594 !important;
  --el-color-primary-light-7: #f3c2c2 !important;
  --el-color-primary-light-9: #fae6e6 !important;
}

.el-button--primary {
  --el-button-hover-bg-color: var(--el-color-primary-light-3) !important;
}

body {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

header,
main {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--el-color-primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--el-color-primary-light-3);
}

@media screen and (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}
